/* ==========================================================================
	General styling for all articles
========================================================================== */

.section-article {
	h3 {
		margin-bottom: 5px; 
		// padding: 0 50px; 
		padding:0 13% 0;
		@include breakpoint(medium) {min-height: 50px;} // keep copy underneath in same location
		text-align: center; 
		// font-size: 14px; 
		// line-height: 19px; 
		letter-spacing: -0.01em; 

		@include breakpoint(medium) {
			margin-bottom: 12px; 
			padding: 0 15px; 
			// font-size: 22px; 
			// line-height: 26px; 
			letter-spacing: -0.02em; 
		}
	}
	p {
		margin-bottom: 25px; 
		
		
		// font-size: 11px; 
		// line-height: 16px; 

		@include breakpoint(medium) {
			margin-bottom: 0; 
			padding: 0; 
			// font-size: 21px; 
			// line-height: 27px; 
			letter-spacing: -0.02em; 
		}
	}
}




/* ==========================================================================
	Press Centre and Articles (Blog and Posts)
========================================================================== */

.press-center {

	@include breakpoint(medium) {
		padding-top: 15px; 
		padding-bottom: 48px; 
	}

	.article-excerpt {
		>article{padding:26px 0;}
		// margin:30px auto;

		@include breakpoint(small only) {
			&.medium-uncentered:last-child:not(:first-child) {
				float:none;
			}
		}
	}
}


// aside
.press-sidebar-cont
{
	background-color: $medium-gray; 
}
.press-sidebar {
	padding-top: 40px; 
	padding-bottom: 23px; 

	@include breakpoint(medium) {
		padding-top: 38px; 
		padding-bottom: 21px; // temporary
	}

	p {
		// margin-left: 41px; 
		// margin-right: 37px; 
		// margin-bottom: 18px; 
		line-height: 19px; 

		@include breakpoint(medium) {
			margin-left: 18px;
			margin-right: 37px;
			line-height: 32px; 
		}
	}
	.align-swap {
		margin-left: 0; 
		margin-right: 0; 
		margin-bottom: 22px; 
		text-align: center; 
		font-size: 22px; 
		line-height: 26px; 

		@include breakpoint(medium) {
			text-align: left; 
			margin-left: 18px; 
			margin-bottom: 18px; 
			font-size: 20px; 
			line-height: 32px; 
		}
	}

	hr {
		margin: 29px auto; 
		border-bottom: 2px solid $dark-gray; 
		width: 85%; 
	}
}

// row containing the article excerpts
.article-excerpts {
	padding-top: 10px; 

	@include breakpoint(medium) {padding-top: 0px;}
}

// columns - each individual post excerpt
.article-excerpt {
	padding-bottom: 33px; 

	@include breakpoint(medium) {
		padding-bottom: 30px; 
	}

	article {
		padding-bottom: 4px; 
		background: url('../img/dotted-h.png') bottom repeat-x; 

		@include breakpoint(medium) {
			padding-bottom: 20px; 
		}
	}

	h3 {
		margin-bottom: 5px; 
		text-align: center; 
		line-height: 18px; 
		letter-spacing: -0.02em; 

		@include breakpoint(medium) {
			// margin-bottom: 4px;  | it's all looking a bit squished!
			height: 52px; 
			line-height: 26px; 
		}

		a {
			color: $secondary-color; 

			&:hover {
				color: $primary-color; 
			}
		}
	}
	.date-posted {
		display: none; // any reason this is not on mobile views?

		@include breakpoint(medium) {
			display: block; 
			// margin-bottom: 1px; | it's all looking a bit squished!
		}
	}
}
.article-excerpt:last-of-type {
	
	article {
		border-bottom: none; 

		@include breakpoint(medium) {
			background: url('../img/dotted-h.png') bottom repeat-x; 
		}
	}
}


/* ========================================================================== */

.single-banner {

	.feat-img {
		display: block; 
		height: 100px; 

		@include breakpoint(medium) {
			height: 600px; 
		}
	}
}

.main-single-cta {
	margin-bottom:35px;
}

.main-single {
	margin-bottom: 35px; 
	// padding-top: 13px; 
	padding-bottom: 30px; 
	background: url('../img/dotted-h.png') bottom repeat-x; 

	@include breakpoint(medium) {
		padding-top: 0; 
		margin-bottom: 39px; 
		padding-bottom: 58px; 
	}
	.entry-title {
		text-align: center; 
	}
	.entry-title,.entry-content h1 {
		margin-bottom: 10px; 
		@include breakpoint(small only) {
			font-size: 2.5em; 
			line-height: 1.3;
		}

		@include breakpoint(medium) {
			margin-bottom: 30px; 
			font-size: 43px; 
			line-height: 1.3;
		}
	}

	.date-posted {
		display: none; 

		@include breakpoint(medium) {
			display: block; 
		}
	}

	.entry-content {
		h1 {
    		margin-bottom: 0.5rem;
		}

		h2 {
			font-size:2.3em;
		}

		h3 {
			font-size:1.9em;
		}

		h4 {
			font-size:1.5rem;
		}

		h5 {
			font-size:1.1rem;
		}


		p:first-of-type {
			font-family: $font-family-bold; 
		}
		p {
			margin-bottom: 17px; 

			@include breakpoint(medium) {
				// margin-bottom: 38px; 
			}
		}

		blockquote > p {
			margin:0;
		}

		img {width:100%!important;margin:10px 0;}

		.alignright {
			@include breakpoint(small only) {
				width:100%!important;
			}
			float:right;
		}

		.alignleft {
			@include breakpoint(small only) {
				width:100%!important;
			}
			float:left;
		}
	}
}

// Import the styles for the Press Enquiry box - as it's quite lengthy!
@import "enquirybox"; 


.related-articles {
	padding-top: 12px; 
	padding-bottom: 30px; 

	h3 {
		text-align: center; 

		@include breakpoint(medium) {
			text-align: left; 
		}
	}
	
	.article-excerpt:last-of-type, 
	article {
		background: none !important; 
	}

	// why do these change compared to index.php loop?
	h2 {
		// margin-bottom: 10px; 
	}
	p {
		// font-size: 24px; 
	}
}



/* ==========================================================================
	Energy Advice and Articles (Custom Archive and CPT)
========================================================================== */

.energy-advice-banner {
	.feat-img {
		background-image: url('../img/man-repairing-violin.jpg'); 
	}
}

.energy-advice {

	.breadcrumbs {
		margin: 14px 0; 
	}
}

// the selected article to show as a 'featured article'
.energy-feat-article {
	

	@include breakpoint(medium) {
		margin-bottom: 40px; 
		>article{background-color: $medium-gray;float:left; }
	}

	.article-feat-img {
		height: 200px; 

		@include breakpoint(medium) {
			height: 250px; 
		}
	}

	.article-header {
		padding: 11px 0 0; 
		text-align: center; 

		@include breakpoint(medium) {
			text-align: left; 
			padding: 56px 20px 4px 0; 
		}

		h2 {
			margin-bottom: 6px; 
			line-height: 19px; 

			@include breakpoint(medium) {
				margin-bottom: 0; 
				font-size: 22px; 
			}
		}
	}

	.entry-content {
		padding: 0 13% 17px; 

		@include breakpoint(medium) {
			padding: 0; 
			padding-right: 7%; 
		}

		@include breakpoint(large) {
			padding-right: 27%; 
		}
	}
}

// all other articles
.energy-article-feed {

	// in order for this row to line-up with the above featured article, need to cheat a bit
	@include breakpoint(medium) {
		article.medium-4:nth-child(4n), 
		article.medium-4:nth-child(1) {
			padding-left: 0; 
		}
		article.medium-4 {
			padding-left: .9375rem; 
			padding-right: .9375rem; 
		}
		article.medium-4:nth-of-type(3n) {
			padding-right: 0; 
		}

	}
	// end

	.feat-img {
		margin-bottom: 20px; 
		height: 235px; 
	}

	.article-header {
		text-align: center; 

		h2 {
			margin-bottom: 6px; 
			padding: 0 .625rem; 
			font-size: 12px; 
			line-height: 19px; 

			@include breakpoint(medium) {
				// margin-bottom: 5px; 
				padding: 0; 
				font-size: 22px; 
				line-height: 30px; 
			}
		}
	}

	.entry-content {
		padding: 0 13% 17px; 

		@include breakpoint(medium) {
			margin-bottom: 36px; 
			padding: 0; 
		}
	}
}

// AJAX Load More plugin specific
.alm-btn-wrap {
	margin-bottom: 35px; 
	text-align: center; 

	@include breakpoint(medium) {
		margin-bottom: 0; 
	}
}
.alm-load-more-btn {
	&.done {
		display:none;
	}
}
.alm-reveal {
	display:block;

	.column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
		float:left!important;
	}
}

/* ========================================================================== */


.advice.column:last-child:not(:first-child), .advice.columns:last-child:not(:first-child)
{
	float:left;
}

.advice-banner {
	.feat-img {
		@include breakpoint(medium) {height: 600px;}
	}
}
.related-articles article.advice,
.section-article article.advice
{
    margin-top: 18px;
    @include breakpoint(medium) {

    }
}


.entry-content {

	blockquote {

		p {
			&:before {
				content:open-quote;
				margin-right:4px;
			}
			&:after {
				content:close-quote;
				margin-left:4px;
			}


			&:after,&:before {
				color: $dark-gray;

				@include breakpoint(small only) {
					// font-size:21px;
				}

				@include breakpoint(medium) {
					// font-size: 37px; 
				}
			}
		}

		@include breakpoint(medium) {
			margin: 60px auto; 
			padding: 22px 90px; 
			text-align: center; 
		}

		@include breakpoint(small only) {
			margin: 30px auto; 
			padding: 22px 0px; 
			text-align: center; 
		}
		border: none; 
		border-top: 3px dotted $dark-gray; 
		border-bottom: 3px dotted $dark-gray; 

		p {
			display: inline;
			margin-bottom: 0; 
			@include breakpoint(small only) {
				font-size:21px;
				line-height:29px;
			}

			@include breakpoint(medium) {
				font-size: 37px; 
				line-height: 44px; 
			}
			font-family: $font-family-semibold;
		}
	}






}


ul,ol
{
	color:$dark-gray;
	
}

ol{
	>li
	{
		>ol
		{
			list-style-type:upper-roman;
			>li
			{
				>ol
				{
					list-style-type:lower-roman;
				}
			}
		}
	}	
}
ul
{
	>li
	{
		>ul
		{
			list-style-type:square;
			>li
			{
				>ul
				{
					list-style-type:circle;
				}
			}
		}
	}
}



