/******************************************************************

Stylesheet: Cookie Policy

This is the print stylesheet. There's probably not a lot
of reasons to edit this stylesheet. 

Remember to add things that won't make sense to print at 
the bottom. Things like nav, ads, and forms shouldbe set 
to display none.
******************************************************************/
#cookie-notice
{
    border-top: 1px solid white;
}
.cookie-notice-container {
  padding:20px;
  #cn-notice-text {
    padding: 10px;
    width:100%;
    // @include breakpoint(medium) {width: 80%;}
    display: inline-block;
    padding:0 0 8px;
  }

  .button {
    padding:5px;
    font-size:15px;
    margin: 0 10px 0 0!important;
    color: white;
    padding: 10px 16px 11px 15px;
    @include breakpoint(small only) {
          display: inline-block;
          // width:10%;
          padding: 15px 20px 16px 19px;
        }
    // @include breakpoint(medium) {float: right;}

    &#cn-more-info {
      @include breakpoint(small only) {
          display: inline-block;
          width:70%;
          padding: 15px 16px 16px 15px;
      }
    }

    &:hover,&:focus {
      color:white;
    }
  }

  a {
    color:$brand-highlight;
    &:hover, &:focus {
    color:darken($brand-highlight, 20%);
    }
  }
}