/* ==========================================================================
	Homepage
========================================================================== */
html,body {
	height:100%;
}
.home-hero {
	padding-top: 42px; 
	padding-bottom: 73px; 
	background-color: $secondary-color; 

	@include breakpoint(medium) {
		padding-top: 150px; 
		padding-bottom: 270px; 
	}

	.intro {
		@include breakpoint(small only) {
			margin-bottom:35px;
		}
	}


}

// "Want to pay less for your busines energy?"
.intro, 
.intro-cta {
	text-align: center; 
}

.intro {
	padding: 0 25px; 

	@include breakpoint(medium) {
		padding: 0; 
	}

	.xxl {
		margin-bottom: 27px; 
		// font-size: 31px; 
		line-height: 36px; 
		color: $tertiary-color; 
		letter-spacing: -0.02em; 

		@include breakpoint(medium) {
			// font-size: 72px; 
			line-height: 72px; 
			letter-spacing: -0.06em; 
		}
	}
	/* medium upwards */
	p {
		@include breakpoint(medium) {font-size: 25px; 
		line-height: 32px; 
		font-family: $font-family-semibold; 
		color: #c7bad2; 
		letter-spacing: -0.03em; 
	}
	}
}

// "sign me up, help me save"
.intro-cta {
	@include breakpoint(medium) {
		padding-top: 76px; 
	}
	.button {

		@include breakpoint(medium) {
			display: block; 
			padding-top: 16px; 
			padding-bottom: 23px; 
			font-size: 29px; 
		}
	}

	p {
		color: $white; 
		font-family: $font-family-semibold; 
		letter-spacing: -0.05em; 

		@include breakpoint(medium) {
			// font-size: 22px; 
			font-family: $font-family-regular; 
		}

		a {
			color: $white; 
		}
	}
}

/* ========================================================================== */

.troo-cta {
	padding-top: 20px; 
	padding-bottom: 21px; 
	background-color: $brand-contrast; 
	text-align: center; 

	@include breakpoint(medium) {
		padding-top: 28px; 
		padding-bottom: 35px; 
	}

	// "Using a broker? Here's why troo is better"
	h2 {
		display: inline-block; 
		margin-right: 20px; 
		margin-bottom: 20px; 
		color: $white;  
		line-height: 30px; 
		letter-spacing: -0.01em; 
		vertical-align: middle; 

		@include breakpoint(medium) {
			margin-bottom: 0; 
			font-size: 44px; 
			line-height: 46px; 
			letter-spacing: -0.04em; 
		}
	}

	// "tell me more"
	.button {
		// padding: 12px 43px 18px; 
		padding-left:43px;
		padding-right:43px;

		@include breakpoint(medium) {
			position: relative; 
			top: 16px; 
			// padding: 12px 86px 18px; 
			padding-left:86px;
			padding-right:86px;
		}
	}
}

/* ========================================================================== */

.troo-process {
	padding-top: 26px; 
	text-align: center; 

	@include breakpoint(medium) {
		padding-top: 58px; 
	}

	// "Fair, simple, easy. That's troo."
	.title {
		margin-bottom: 24px; 

		@include breakpoint(medium) {
			margin-bottom: 54px; 
		}
	}

	// "sign me up, help me save"
	.centered-cta {
		padding-top: 33px; 
		padding-bottom: 27px; 

		@include breakpoint(medium) {
			padding-top: 52px; 
			padding-bottom: 45px; 
		}
	}
}

.troo-process-row {

	@include breakpoint(medium) {background: url('../img/gradient-circles-horiz.png') center 52px no-repeat; }
}

.troo-process-col {
	margin-bottom: 20px; 
	padding: 0 70px 68px; 
	background: url('../img/gradient-circles-vertical.png') center bottom no-repeat; 
	background-size: 8px 60px; 

	@include breakpoint(medium) {
		margin-bottom: 0; 
		padding: 0 70px; 
		background: none; 
	}

	h3 {
		margin-bottom: 7px; 

		@include breakpoint(medium) {
			margin-bottom: 17px; 
		}
	}

	p {
		// font-size: 11px; 
		// line-height: 16px; 
		color: $dark-gray; //grey 

		@include breakpoint(medium) {
			// line-height: 24px; 
		}
	}

	.number-rounded {
		margin: 0 auto 11px; 
		width: 50px; 
		height: 50px; 
		text-align: center; 
		color: $white; 
		font-family: $font-family-semibold; 
		font-size: 28px; 
		line-height: 50px; 
		background-color: $tertiary-color; 
		border-radius: 50%; 

		@include breakpoint(medium) {
			margin-bottom: 20px; 
			width: 100px; 
			height: 100px; 
			font-size: 48px; 
			line-height: 101px; 
			// DOUBLE CHECK SIZE/POSITIONING OF NUMBER (AFTER BOLD)
		}
	}
}

.troo-process-col:last-child {
	margin-bottom: 0; 
	padding-bottom: 0; 
	background: none; 
}

/* ========================================================================== */

// Medium-up
.full-width-banner {
	height: 297px; 
	background: url('../img/business-woman-using-phone-laptop.jpg') no-repeat; 
	background-position: center center; 
	background-size: cover; 

	@include breakpoint(medium) {
		background-position: center -330px; 
	}
}

/* ========================================================================== */

.troo-fairway-contrast {
	padding-top: 20px;
    padding-bottom: 24px;
	text-align: center; 
	background-color: $brand-contrast; 

	@include breakpoint(medium) {
		padding-top: 10px; 
		padding-bottom: 15px; 
	}

	// "troo. A fairer way to pay for your energy."
	.title {
		margin-bottom: 0; 
		padding: 0 31px; 
		color: $white; 

		@include breakpoint(medium) {
			padding: 0; 
		}
	}
}

.troo-fairway {
	// padding: 13px 145px 16px; 
	padding-top: 13px; 
	padding-bottom: 26px; 
	text-align: center; 
	color: $white; 
	background-color: $secondary-color; 

	@include breakpoint(medium) {
		padding-top: 14px; 
	}

	p {
		color:#ffffff;
		margin-bottom: 14px; 
		// font-size: 11px; 
		// line-height: 19px; 
		// letter-spacing: -0.05em; 

		@include breakpoint(medium) {
			margin-bottom: 24px; 
			font-size: 23px; 
			// line-height: 28px; 
		}
	}
	p:last-child {
		margin-bottom: 0; 
		font-size: 14px; 
		font-family: $font-family-semibold; 
		
		@include breakpoint(medium) {
			font-size: 23px; 
		}
	}
}

/* ========================================================================== */
	.feat-img {
		display: block; 
		margin-bottom: 8px; 
		height: 200px; 
		
		@include breakpoint(medium) {
			margin-bottom: 21px; 
			height: 235px; 
		}
	}
.featured-news {
	padding-top: 10px; 
	// padding-bottom: 0; 

	@include breakpoint(medium) {
		padding-top: 36px; 
		padding-bottom: 62px; 
	}


	
}







