/******************************************************************

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of Sass' great features:
Mixins & Constants.

******************************************************************/

/*********************
TOOLS
*********************/

// http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
.image-replacement {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}


/*********************
COLORS
*********************/


/*********************
TYPOGRAPHY
*********************/
@font-face {
	font-family: 'elisardtregular';
	src: url('../fonts/elisardt-regular-webfont.eot');
	src: url('../fonts/elisardt-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/elisardt-regular-webfont.woff2') format('woff2'),
		 url('../fonts/elisardt-regular-webfont.woff') format('woff'),
		 url('../fonts/elisardt-regular-webfont.ttf') format('truetype'),
		 url('../fonts/elisardt-regular-webfont.svg#elisardtregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
$font-family-regular: 'elisardtregular', serif; 

@font-face {
	font-family: 'elisardtbold';
	src: url('../fonts/elisardt-bold-webfont.eot');
	src: url('../fonts/elisardt-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/elisardt-bold-webfont.woff2') format('woff2'),
		 url('../fonts/elisardt-bold-webfont.woff') format('woff'),
		 url('../fonts/elisardt-bold-webfont.ttf') format('truetype'),
		 url('../fonts/elisardt-bold-webfont.svg#elisardtbold') format('svg');
	font-weight: normal;
	font-style: normal;
}
$font-family-bold: 'elisardtbold', serif; 

@font-face {
	font-family: 'elisardtsemibold';
	src: url('../fonts/elisardt-semibold-webfont.eot');
	src: url('../fonts/elisardt-semibold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/elisardt-semibold-webfont.woff2') format('woff2'),
		 url('../fonts/elisardt-semibold-webfont.woff') format('woff'),
		 url('../fonts/elisardt-semibold-webfont.ttf') format('truetype'),
		 url('../fonts/elisardt-semibold-webfont.svg#elisardtsemibold') format('svg');
	font-weight: normal;
	font-style: normal;
}
$font-family-semibold: 'elisardtsemibold', serif; 


//Use the best ampersand - http://simplebits.com/notebook/2008/08/14/ampersands-2/
// span.amp {
//   font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
//   font-style: italic;
// }

/*********************
CSS3 GRADIENTS.
*********************/

/* @include css-gradient(#dfdfdf,#f8f8f8); */
// @mixin css-gradient($from: #dfdfdf, $to: #f8f8f8) {
// 	background-color: $to;
// 	background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
// 	background-image: -webkit-linear-gradient(top, $from, $to);
// 	background-image: -moz-linear-gradient(top, $from, $to);
// 	background-image: -o-linear-gradient(top, $from, $to);
// 	background-image: linear-gradient(to bottom, $from, $to);
// }
