

/* ==========================================================================
	About
========================================================================== */

.page-banner {

	/* what is the fallback image if none is selected? */

	.feat-img {
		// display: none; // any reason why hidden for mobile-first users?
		height: 265px; 
		margin-bottom:0;

		@include breakpoint(medium) {
			// display: block; 
		}
	}
}

.page-title {
	padding: 18px .625rem 23px; 
	text-align: center; 
	background-color: $brand-contrast; 

	@include breakpoint(medium) {
		padding: 5px 0 10px; 
	}

	h1 {
		margin-bottom: 0; 
		color: $white; 
		font-size: 22px; 

		@include breakpoint(medium) {
			font-size: 37px; 
			letter-spacing: -0.03em; 
		}
	}
}

// "troo. A fairer way to pay for your energy."
.about-intro {	
	padding: 12px 0 4px; 

	@include breakpoint(medium) {
		padding: 12px 0 65px; 
	}

	.xxl {
		position: relative; 
		margin-bottom: 21px; 
		color: $secondary-color; 
		font-size: 37px;
		line-height: 37px; 
		letter-spacing: -0.01em; 

		@include breakpoint(medium) {
			margin-bottom: 0; // does this impact medium-up?
			top: -28px; 
			font-size: 97px; //100px; 
			line-height: 115px; 
			letter-spacing: -0.03em; 
		}
	}

	p {
		margin-bottom: 16px; 
		// line-height: 26px; 

		@include breakpoint(medium) {
			margin-bottom: 26px; 
			line-height: 26px; 
		}
	}

	.centered-cta {
		padding-top: 11px; 

		@include breakpoint(medium) {
			padding-top: 6px; 
		}
	}
}

// "Why using troo. is better than using a broker."
.broker-compare {
	padding-top: 27px; 
	padding-bottom: 68px; 
	background-color: $medium-gray; 

	.columns {
		float:left!important;
	}

	@include breakpoint(medium) {
		padding-top: 42px; 
	}

	.title {
		margin-bottom: 17px; 
		padding: 0 15px; 
		text-align: center; 

		@include breakpoint(medium) {
			margin-bottom: 38px; 
			padding: 0 56px; 
		}
	}

	.centered-cta {
		padding-top: 28px; 

		@include breakpoint(medium) {
			padding-top: 44px; 
		}
	}
}

// bubble lists
.compare-list {
	text-align: center; 
	
	p:first-of-type {
		margin-bottom: -5px; 
		margin-left: 0; 
		padding: 13px 10px 16px; 
		// width: auto; 
		// min-height: auto; 
		color: $white; 
		font-size: 23px; 
		letter-spacing: -0.02em; 

		@include breakpoint(medium) {
			margin-bottom: 5px; 
			padding: 14px 0 20px; 
			font-size: 29px; 
			letter-spacing: -0.06em; 
		}
	}
	p {
		display:table;
		position: relative; 
		margin-bottom: -5px; 
		// margin-left: 7%; 
		padding: 15px 30px 17px; 
		width: 100%; 
		@include breakpoint(medium) {min-height: 110px;}
		color: $secondary-color; 
		font-size: 12px; 
		font-family: $font-family-semibold; 
		border-width: 5px; 
		border-style: solid; 
		background-color: $white; 
		border-radius: 50px; 

		@include breakpoint(medium) {
			margin-bottom: 5px; 
			margin-left: 0; 
			padding: 16px 15px 17px; 
			// width: auto; 
			// min-height: auto; 
			font-size: 21px; 
			// border-radius: 30px; 
			letter-spacing: -0.026em; 
		}


		span {
			display: table-cell;
    vertical-align: middle;
		}
	}
	// alternating speech bubble stems
	p:after {
		content: "";
		position: absolute;
		width: 0;
		height: 0;
		left: 45px; 
		bottom: -17px;
		border: 10px solid $white;
		border-color: transparent transparent $white $white;
		transform-origin: 0 0;
		transform: rotate(-45deg);
		box-shadow: -5px 5px 0 0 $secondary-color; 
		z-index: 1; 

		@include breakpoint(medium) {
			bottom: -30px; 
			border: 17px solid $white; 
		}
	}
	p:nth-of-type(odd):after {
		left: initial; 
		right: 45px; 
	}
	p:last-of-type:after {
		display: none; 
	}
}

.compare-list-brokers {
	padding-bottom: 27px; 

	@include breakpoint(medium) {
		padding-bottom: 0; 
	}
	
	p:first-of-type {
		background-color: $secondary-color; 
	}
	p {
		border-color: $secondary-color; 
	}
	p:first-of-type:after {
		border-color: $secondary-color; 
	}
}

.compare-list-troo {
	
	p:first-of-type {
		background-color: $brand-contrast; 
	}
	p {
		border-color: $brand-contrast; 
	}
	p:nth-of-type(even):after, 
	p:nth-of-type(odd):after {
		box-shadow: -5px 5px 0 0 $brand-contrast; 
	}
	p:first-of-type:after {
		border-color: $brand-contrast; 
	}
}

/* ==========================================================================
	Contact
========================================================================== */

.contact-us {
	padding-bottom: 50px; 

	.sm {
		text-align: center; 
		font-size: 12px; 
		line-height: 18px; 
		letter-spacing: -0.02em; 

		@include breakpoint(medium) {
			font-size: 29px; 
			line-height: 40px; 
		}
	}

	.general-enquiry {
		margin-top: 16px; 

		@include breakpoint(medium) {
			margin-top: 57px; 
		}
	}

	.press-enquiry {
		margin-bottom: 23px; 

		@include breakpoint(medium) {
			margin-bottom: 28px; 
		}

		.columns {
			@include breakpoint(medium) {
				height: 150px; 
			}
		}

		h3 {
			@include breakpoint(medium) {
				font-size: 28px; 
			}

			@include breakpoint(large) {
				font-size: 34px; 
			}
		}

		p {
			@include breakpoint(large) {
				font-size: 26px; 
				line-height: 33px; 
				letter-spacing: -0.03em; 
			}
		}

		.press-enquiry-title:after {
			// display: none; 

			@include breakpoint(medium) {
				// display: block; 
				right: -26px; 
				border-width: 75px 0 75px 26px; 
			}
		}

	}

}


/* ==========================================================================
	iFramed pages
========================================================================== */

iframe.signup {
	display: block; 
	width: 100%; 
	// min-height: 1200px; 
	border: 0; 
}



